{% load static %}

{% for product in products %}
<div class="w-50 px-2 my-2" data-toggle="modal" data-target="#subProductsModal" data-prod-id="{{product.id}}" data-prod-name="{{product.name}}" search="{{product.name}}">
	<div class="card shadow" data-prod-id="{{product.id}}" data-prod-name="{{product.name}}">
	  <img class="card-img-bottom img-fluid" src="{% static 'POS/img/default.jpeg'%}" alt="Card image cap" data-prod-id="{{product.id}}" data-prod-name="{{product.name}}">
      <p class="card-text px-1 py-1 text-center font-weight-bold" data-prod-id="{{product.id}}" data-prod-name="{{product.name}}">{{product.name}}</p>
	</div>
</div>
{% empty %}
<div class="w-100 py-5">
	<h5 class="text-center">No favorite listed</h5>
</div>
{% endfor %}