{% load humanize %}

{% for sub_product in sub_products %}
<div class="card my-1" data-prod-id="{{sub_product.id}}" search="{{sub_product.description}}">
   	<div class="card-header py-1">
   	  <div class="d-flex justify-content-center align-items-center">
   		<div class="w-50">
	   		<p class="m-0">{{sub_product.description}}</p>
	   		<p class="m-0">₱{{sub_product.unit_price | intcomma }}</p>
	   	</div>
	    <div class="input-group d-flex justify-content-center align-items-center w-50">
		  <div class="input-group-prepend">
		    <button class="btn btn-danger" data-action="minus">-</button>
		  </div>
		  <input type="number" class="form-control text-center" value="0">
		  <div class="input-group-append">
		    <button class="btn btn-success" data-action="add">+</button>
		  </div>
		</div>
	   	</div>
   	</div>
</div>
{% empty %}
<div class="d-flex justify-content-center align-items-center" style="height: 100%">
	<h5>No subproducts found!</h5>
</div>
{% endfor %}
