{% load humanize %}

{% for invoice in invoices reversed %}
  <div class="card shadow-lg my-2" search="{{invoice.invoice.customer}} {{invoice.invoice.date_created|date:'P'}}">
  	<div class="card-header position-relative"><a class="stretched-link text-decoration-none" href="/?invoice-id={{invoice.invoice.pk}}">Invoice No. {{invoice.invoice.id}}</a></div>
  	<div class="card-body">
  		<p class="m-0"><span class="font-weight-bold">Customer:</span> {{invoice.invoice.customer}}</p>
  		<p class="m-0"><span class="font-weight-bold">Date created:</span> {{invoice.invoice.date_created|date:'m/d/Y'}}</p>
      <p class="m-0"><span class="font-weight-bold">Time created:</span> {{invoice.invoice.date_created|date:'P'}}</p>
      {% if invoice.items != 0 %}
      <p class="m-0"><span class="font-weight-bold">Info:</span> {{invoice.items}} items, total of <span class="badge badge-pill badge-info">₱{{invoice.total|intcomma}}</span></p>
      {% endif %}
      <p class="m-0"><span class="font-weight-bold">Status:</span> <span class="badge badge-pill {% if invoice.invoice.status == 'processing'%}badge-info{% elif invoice.invoice.status == 'paid'%}badge-success{% endif %}">{{invoice.invoice.status|title}}</span></p>
  	</div>
  </div>
{% empty %}
<div class="d-flex justify-content-center align-items-center h-100">
  <h4>No transactions</h4>
</div>
{% endfor %}