<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	{% load static %}

  	<link rel="stylesheet" type="text/css" href="{% static 'POS/css/bootstrap.min.css' %}">
	<title>CYJ - POS</title>
</head>
<body>
	{% csrf_token %}
	{% if invoice %}
	<input type="hidden" name="invoice-id" value="{{invoice.id}}">
	{% endif %}
	<header>
		{% include 'POS/menu.html' %}
	</header>
	
	<main class="container py-4">
		{% block content %}
			
		{% endblock %}
	</main>
	{% block bottom_btn %}
		{% include 'POS/bottom_btn_group.html' %}
	{% endblock %}
	<!-- modals -->
	{% block modal%}
		{% include 'POS/new_customer_modal.html' %}
		{% include 'POS/customer_selection_modal.html' %}
		{% include 'POS/sub_product_modal.html' %}
	{% endblock %}
	<div class="d-none spinner-border" role="status">
	  <span class="sr-only">Loading...</span>
	</div>
	<script type="text/javascript" src="{% static 'POS/js/jquery-3.5.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'POS/js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'POS/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'POS/js/main.js' %}"></script>
	{% block js %}
	<script type="text/javascript" src="{% static 'POS/js/POS.js'%}"></script>
	{% endblock %}
</body>

</html>