{% load humanize %}
{% load static %}
{% for item in items reversed %}
<div class="card my-1 shadow" search="{{item.product.product_family}} {{item.product.description}}">
   	<div class="card-header d-flex justify-content-between" data-product-transaction-id="{{item.product.pk}}" data-name="{{item.product.product_family}} {{item.product.description}}" data-units="{{item.no_of_units}}">
   		<div>
   			<p class="m-0"><span class="font-weight-bold">{{item.product.product_family}}</span> {{item.product.description}}</p>
	   		<p class="m-0">₱{{item.product.unit_price | intcomma}} &times; <span class="badge badge-info">{{item.no_of_units | intcomma}} unit/s</span></p>
	   		<p class="m-0 badge badge-pill badge-primary">Total: ₱{{item.total_price | intcomma}}</p>
   		</div>
   		<div class="d-flex flex-column" >
   			<img src="{% static 'POS/icons/pencil.svg'%}" data-toggle="modal" data-target="#invoiceEditUnit" data-action="edit" class="my-1">
   			<img src="{% static 'POS/icons/trash.svg'%}" data-toggle="modal" data-target="#invoiceDelete" data-action="delete" class="my-1">
            <span class="badge-info badge-pill" style="font-size: 0.7em">{{forloop.counter}}</span>
   		</div>
   	</div>
</div>
{% empty %}
<div class="d-flex justify-content-center align-items-center h-100">
   <h4>No products added yet.</h4>
</div>
{% endfor %}