{% load static %}

<div class="h-100 w-75 d-flex justify-content-start align-items-center fixed-top shadow" id="sideNav" style="z-index: 1031; margin-left: -75%">
	<div class="w-100 h-100 bg-white nav flex-column p-2 shadow-lg" id="settingMenu">
		<a href="{% url 'handler-page' %}" class="nav-link btn btn-primary my-1">Home</a>
		<a href="{% url 'product-page'%}" class="nav-link btn btn-primary my-1">Products</a>
	</div>
	<img style="height: 5em; width: 2em; border-radius: 0 200px 200px 0; margin-right: -2em;" class="btn btn-info shadow-lg p-1" src="{% static 'POS/icons/arrow-right-short.svg'%}" id="menu-btn">
</div>