<div class="bg-light m-0 m-n3 d-flex justify-content-center align-items-center flex-column" style="height: 90vh; width: 100vw">
	<input type="hidden" name="payable">
	<p class="mx-2 font-weight-bold badge badge-info py-2" style="font-size: 1.2em" id="total">Total: <span></span></p>
	<div class="d-flex align-items-center"><span class="mr-2" style="font-size: 2em">₱</span>
	<input type="number" name="cash" placeholder="Amount to pay" class="form-control text-center w-75">
	</div>
	<p class="mx-2 font-weight-bold badge badge-info py-2 mt-2" style="font-size: 1.2em" id="change">Change: <span>₱0</span></p>

	<div class="mt-3">
		<button class="btn btn-danger" id="credit-btn">Credit</button>
		<button class="btn btn-success" id="pay-btn">Pay</button>
	</div>
</div>