{% load static %}

{% for product in products %}
<div class="card my-2 shadow-lg" search="{{product.name}}" >
  <div class="card-header">
    <div class="d-flex justify-content-between">
    	<div class="w-75">
	    	<h5 class="m-0"><a class="text-dark text-decoration-none" href="{% url 'modify-product' product.id %}">{{product.name | title}}</a></h5>
	    	<span class="badge badge-info">{{product.category}}</span>
    	</div>
    	<div class="d-flex flex-column justify-content-between">
            <img class="btn btn-light border-dark" src="{% static 'POS/icons/pencil.svg'%}" id="editBtn" data-product-category="{{product.category.id}}" data-toggle="modal"  data-product-name="{{product.name}}" data-product-id="{{product.id}}" data-target="#ProductModal">
    	</div>
    </div>
  </div>
</div>
{% endfor %}